ion-title{
    color: #333;
  }
  
  ion-toolbar{
    background-color: #5b6e63;
  }

  ion-content{
    --ion-background-color: #fff2e1;
}
  
  .container {
    padding: 20px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
  }
  
  .logo1 {
    width: 100px;
    margin-bottom: 20px;
    text-align: center;
    margin: 0 auto;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  /* Botones */
  .button-ingresar{
    padding: 50px;
    width: 100%;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .button-registrar{
    padding: 50px;
    width: 100%;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .register-link {
    display: block;
    margin-top: 10px;
    color: #333;
    text-decoration: none;
    text-align: center;
  }
  
  .container2{
    justify-content: center;  /* Centra horizontalmente */
    align-items: center;
    margin-top: 30px;
  }
  
  
  .inputs{
    margin-top: 25px;
    padding: 20px;
    background-color: #ffe7a9;
    color: #333;
    width: 100%;
  }
  
  .password{
    align-content: center;
    padding: 60px;
    background-color: #ffe7a9;
    margin-top: 16px;
    color: #333;
    width: 100%;
  
  }
  
  
  
  
    .button-register{
      --background: #B1C29E;
      padding: 50px;
      width: 100%;
      margin-bottom: 10px;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
    }