<ion-content [fullscreen]="true">
  <div id="container" class="container">
    <div class="title">Panadería La Delicia</div>
    <div class="logo1">
      <img src="assets/icons/Imagen1.png" alt="Logo Panadería La Delicia" class="logo">
    </div>

    <div class="container2">
      <form #registerForm="ngForm" (ngSubmit)="register()" novalidate>

        <!-- Campo de usuario -->
        <ion-input [(ngModel)]="userData.username" name="username" class="input-field" type="text" color="medium"
          fill="outline" label="Usuario" labelPlacement="floating" required (ionBlur)="validateUsername()"></ion-input>
        <p class="error" *ngIf="formErrors.username">{{ formErrors.username }}</p>

        <!-- Campo de nombre -->
        <ion-input [(ngModel)]="userData.name" name="name" class="input-field" type="text" color="medium" fill="outline"
          label="Nombre" labelPlacement="floating" required (ionBlur)="validateName()"></ion-input>
        <p class="error" *ngIf="formErrors.name">{{ formErrors.name }}</p>

        <!-- Campo de apellido paterno -->
        <ion-input [(ngModel)]="userData.first_surname" name="first_surname" class="input-field" type="text"
          color="medium" fill="outline" label="Apellido Paterno" labelPlacement="floating" required
          (ionBlur)="validateFirstSurname()"></ion-input>
        <p class="error" *ngIf="formErrors.first_surname">{{ formErrors.first_surname }}</p>

        <!-- Campo de apellido materno (opcional) -->
        <ion-input [(ngModel)]="userData.last_surname" name="last_surname" class="input-field" type="text"
          color="medium" fill="outline" label="Apellido Materno (opcional)" labelPlacement="floating"></ion-input>

        <!-- Campo de teléfono -->
        <ion-input [(ngModel)]="userData.phone_number" name="phone_number" class="input-field" type="tel" color="medium"
          fill="outline" label="Teléfono" labelPlacement="floating" maxlength="10" pattern="[0-9]{10}" required
          (ionBlur)="isValidPhone()"></ion-input>
        <p class="error" *ngIf="formErrors.phone_number">{{ formErrors.phone_number }}</p>

        <!-- Campo de correo -->
        <ion-input [(ngModel)]="userData.email" name="email" class="input-field" type="email" color="medium"
          fill="outline" label="Correo electrónico" labelPlacement="floating" required
          (ionBlur)="isValidEmail()"></ion-input>
        <p class="error" *ngIf="formErrors.email">{{ formErrors.email }}</p>

        <!-- Campo de contraseña -->
        <div class="password-wrapper">
          <ion-input [(ngModel)]="userData.password" name="password" [type]="showPassword ? 'text' : 'password'"
            class="password" color="medium" fill="outline" label="Contraseña" labelPlacement="floating" maxlength="16"
            required (ionBlur)="isValidPassword()">
            <ion-button fill="clear" slot="end" (click)="togglePasswordVisibility()">
              <ion-icon slot="icon-only" [name]="showPassword ? 'eye-off' : 'eye'" color="medium"></ion-icon>
            </ion-button>
          </ion-input>
          <p class="error" *ngIf="formErrors.password">{{ formErrors.password }}</p>
        </div>

        <!-- Confirmar contraseña -->
        <div class="password-wrapper">
          <ion-input [(ngModel)]="confirmPassword" name="confirmPassword"
            [type]="showConfirmPassword ? 'text' : 'password'" class="password" color="medium" fill="outline"
            label="Confirmar contraseña" labelPlacement="floating" required (ionBlur)="isValidPassword()">
            <ion-button fill="clear" slot="end" (click)="toggleConfirmPasswordVisibility()">
              <ion-icon slot="icon-only" [name]="showConfirmPassword ? 'eye-off' : 'eye'" color="medium"></ion-icon>
            </ion-button>
          </ion-input>
          <p class="error" *ngIf="formErrors.confirmPassword">{{ formErrors.confirmPassword }}</p>
        </div>
        
        <ion-button class="button-registrar" expand="block" type="submit"
          [disabled]="registerForm?.invalid || isProcessing">
          <ion-spinner *ngIf="isProcessing"></ion-spinner>
          <span *ngIf="!isProcessing">Registrarme</span>
        </ion-button>
      </form>
    </div>

    <a href="javascript:void(0)" class="register-link" (click)="goToLogin()">¿Ya tienes una cuenta? Inicia sesión
      aquí</a>
  </div>
</ion-content>