<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Código QR</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/detalle-pedido', orderId]" fill="clear" color="light">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 style="text-align: center; font-size: 1.2rem; color: var(--ion-color-warning); font-weight: 600; ">Muestra el código QR de tu pedido para recogerlo</h1>
  <div class="qr-container">
    <div class="qr-wrapper">
      <qrcode [qrdata]="orderId" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
    </div>
    <div class="order-info">
      <p class="order-id">Pedido #{{orderId}}</p>
      <p class="order-status">Listo para recoger</p>
    </div>
  </div>
</ion-content>