/* filepath: /c:/Users/herre/OneDrive/Escritorio/UTCV/5 Cuatrimestre/PROYECTO INTEGRADOR/AppGit/Multi-platformAppMobile_LaDelicia/Multi-platformAppMobile/src/app/features/qr-code/qr-code.page.scss */
.qr-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}