<ion-content [fullscreen]="true">

  <div id="container" class="container"> 
   <div class="title">Panaderia La Delicia</div> 
   <div class="logo1">  <img src="assets/img/panaderia_removebg_preview.png" alt="Logo Panadería La Delicia" class="logo"> </div>

   <div class="container2">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        
        <ion-input class="email" formControlName="email" type="email" color="medium" fill="outline" label="Correo electrónico" labelPlacement="floating"
        ngModel
        email></ion-input>
      
    
        <ion-input formControlName="password" type="password" class="password" type="password" color="medium" fill="outline" label="Contraseña" labelPlacement="floating" maxlength="16"></ion-input>
      
      <ion-button class="button-ingresar" expand="block" type="submit" class="button-ingresar">Ingresar</ion-button>
    </form>
   </div>

   <a href="#" class="register-link" routerLink="/registro">¿No tienes una cuenta? Regístrate aquí</a> 
   <ion-button routerLink="/registro" type="button" class="button-registrar">Registrar</ion-button>
  </div>
</ion-content>