<ion-content [fullscreen]="true">
  <div id="container" class="container"> 
    <div class="title">Panadería La Delicia</div> 
    <div class="logo1">  
      <img src="assets/icons/Imagen1.png" alt="Logo Panadería La Delicia" class="logo"> 
    </div>

    <div class="container2">
      <form (ngSubmit)="login()">
        <!-- Campo de usuario o correo -->
        <ion-input [(ngModel)]="userOrEmail" name="userOrEmail" class="email" type="text" color="medium" fill="outline" 
          label="Usuario o Correo electrónico" labelPlacement="floating" required></ion-input>

        <!-- Campo de contraseña -->
        <ion-input [(ngModel)]="password" name="password" class="password" type="password" color="medium" fill="outline" 
          label="Contraseña" labelPlacement="floating" maxlength="16" required></ion-input>

        <ion-button class="button-ingresar" expand="block" type="submit">Ingresar</ion-button>
      </form>
    </div>

    <a href="javascript:void(0)" class="register-link" (click)="goToRegister()">¿No tienes una cuenta? Regístrate aquí</a>
  </div>
</ion-content>