:root {
    --ion-color-light: #ffffff;
    --ion-color-dark: #2b2b2b; /* Ajusta este color si es necesario */
    --ion-color-medium: #3a3a3a;
    --ion-color-warning: #ffc409;
    --ion-color-primary: #3880ff;
    --ion-color-secondary: #0cd1e8;
    --ion-color-tertiary: #7044ff;
    --ion-color-success: #10dc60;
    --ion-color-warning: #ffce00;
    --ion-color-danger: #f04141;
    --ion-color-dark: #222428;
    --ion-color-medium: #989aa2;
    --ion-color-light: #f4f5f8;
  }