<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button menu="m1" ></ion-menu-button>
    </ion-buttons>
    <ion-title>{{titulo}}</ion-title>
    <ion-buttons slot="end">
      <img src="../../../assets/icons/Imagen1.png" alt="Logo" style="height: 50px; width: auto; margin-right: 100px;">
      <ion-button routerLink="/mi-perfil">
        <ion-icon name="person-outline"></ion-icon>
      </ion-button>
      <ion-button routerLink="/carrito">
        <ion-icon name="cart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>