.privacidad-container {
    padding: 16px;
    line-height: 1.6;
    font-size: 14px;
}

.section {
    margin-bottom: 20px;
}

.sub-title {
    font-weight: bold;
    font-size: 16px;
    color: #007bff;
    margin-top: 10px;
}

.date {
    font-style: italic;
    font-size: 12px;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

h3 {
    font-size: 18px;
    margin-top: 10px;
}

ul {
    padding-left: 20px;
}

ul li {
    margin-bottom: 8px;
}