<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Finalizar Compra</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="order">
    
    <h2 class="section-title">Resumen de compra</h2>

    <ion-card *ngFor="let item of order.details" class="product-card">
      <ion-card-content>
        <ion-grid>
          <ion-row class="align-items-center">
            <ion-col size="3">
              <ion-img [src]="item.image" alt="{{ item.name_product }}" class="product-image"></ion-img>
            </ion-col>
            <ion-col>
              <ion-text color="dark"><strong>{{ item.name_product }}</strong></ion-text>
            </ion-col>
            <ion-col size="auto" class="price-details">
              <ion-text color="dark">Cantidad: {{ item.quantity }} pza</ion-text>
              <ion-text color="dark">Subtotal: {{ item.price_at_order * item.quantity | currency }}</ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <h2 class="section-title">Detalles del pago</h2>

    <ion-list class="styled-list">
      <ion-item>
        <ion-label position="stacked">Método de Pago:</ion-label>
        <ion-select [(ngModel)]="metodoPago">
          <ion-select-option value="efectivo">Efectivo</ion-select-option>
          <ion-select-option value="tarjeta">Tarjeta</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Fecha:</ion-label>
        <ion-input type="text" [value]="todayDate" readonly></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Descuento:</ion-label>
        <ion-text>N/A</ion-text>
      </ion-item>
      
      <ion-item>
        <ion-label>Subtotal:</ion-label>
        <ion-text>{{ order.total | currency }}</ion-text>
      </ion-item>

      <ion-item>
        <ion-label><strong>Total:</strong></ion-label>
        <ion-text color="primary"><strong>{{ order.total | currency }}</strong></ion-text>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Tiempo de Expiración:</ion-label>
        <ion-select [(ngModel)]="tiempoExpiracion">
          <ion-select-option value="30min">30 minutos</ion-select-option>
          <ion-select-option value="1hora">1 hora</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-button expand="block" color="primary" class="confirm-button" (click)="confirmarPago()">
      <ion-icon name="checkmark-outline" slot="start"></ion-icon>
      Confirmar Pago
    </ion-button>

  </div>
</ion-content>
