.empty-orders {
  text-align: center;
  margin-top: 50px;
  color: #666;
}

.icon-large {
  font-size: 60px;
  color: #ccc;
}

.order-list ion-card {
  margin: 10px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

ion-card-title {
  font-size: 1.2em;
  font-weight: bold;
}

ion-card-content p {
  margin: 5px 0;
  font-size: 1em;
  color: #333;
}

.pending-status {
  color: white;
  background-color: orange;
  padding: 5px;
  border-radius: 5px;
}

.picked-up-status {
  color: white;
  background-color: green;
  padding: 5px;
  border-radius: 5px;
}