<app-header [titulo]="titulo"></app-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pedidos</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Contenedor de la lista de pedidos, ahora ocupando todo el ancho -->
  <ion-grid>
    <ion-row>
      <ion-col size="12" *ngFor="let pedido of pedidos">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              Pedido #{{pedido.id}}
            </ion-card-title>
            <ion-card-subtitle>{{ pedido.fecha | date }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p>Cliente: {{pedido.cliente}}</p>
            <p>Estado: <span [ngClass]="{'pending': pedido.estado === 'Pendiente', 'completed': pedido.estado === 'Completado'}">{{pedido.estado}}</span></p>
            <ion-button expand="full" color="primary" (click)="verDetalles(pedido)">Ver detalles</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Componente de navegación inferior -->
  <app-tab-bar></app-tab-bar>
</ion-content>
