.page-title {
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 20px;
}

.empty-orders {
  text-align: center;
  margin-top: 40px;
}

.icon-large {
  font-size: 60px;
  color: var(--ion-color-medium);
}

.order-list {
  padding-bottom: 20px;
}

.order-card {
  border-radius: 12px;
  box-shadow: 0 2px 10px var(--ion-border-color);
  transition: transform 0.4s ease-in-out;
  margin-bottom: 20px;
  background-color: rgb(255, 255, 255);
}

.order-card:hover {
  transform: scale(1.02);
}

.card-header {
  display: flex;
  align-items: center;
  gap: 12px; /* Aumenté el espacio entre el icono y el texto */
}

.order-icon {
  font-size: 24px;
  color: var(--ion-color-primary);
  margin-right: 10px; /* Agregado para separar más el icono del texto */
}

.pending-status {
  background-color: #ffc107;
  color: #fff;
}

.ready-status {
  background-color: #28a745;
  color: #fff;
}

.canceled-status {
  background-color: #dc3545;
  color: #fff;
}

.order-card p {
  display: flex;
  align-items: center;
  gap: 8px; /* Espacio entre el icono y el texto dentro del contenido */
}

.order-card ion-icon {
  font-size: 18px;
  color: var(--ion-color-medium);
}