.no-compras-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding: 20px;
}

.no-compras-icon {
  font-size: 4rem;
  color: #888;
  margin-bottom: 10px;
}

.no-compras-message {
  font-size: 1.2em;
  color: #666;
  margin-bottom: 15px;
}

ion-button {
  font-size: 1em;
  --border-radius: 20px;
}