<ion-header [translucent]="true">
  <ion-toolbar color="warning" >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Mi perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mi Perfil</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Sección superior con foto de usuario -->
  <div class="profile-header">
    <ion-avatar class="profile-photo">
      <img src="../../../assets/img/usuario.png" alt="Foto del usuario" />
    </ion-avatar>
    <ion-button expand="block" fill="outline" color="warning" class="change-photo-button">
      Cambiar foto
    </ion-button>
  </div>

  <!-- Sección inferior con datos personales -->
  <ion-list class="profile-details" *ngIf="user">
    <ion-item class="separator" *ngIf="user.username">
      <ion-label>Nombre de usuario:</ion-label>
      <ion-text> {{ user.username }} </ion-text>
    </ion-item>
    <ion-item class="separator" *ngIf="user.email">
      <ion-label>Correo electrónico:</ion-label>
      <ion-text> {{ user.email }} </ion-text>
    </ion-item>
    <ion-item class="separator" *ngIf="user.role">
      <ion-label>Rol:</ion-label>
      <ion-text> {{ user.role }} </ion-text>
    </ion-item>
  </ion-list>

  <ion-button 
  expand="block" 
  color="danger" 
  fill="outline" (click)="logout()">
  Cerrar Sesión
</ion-button>

</ion-content>