<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Terminos y Condiciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Términos y Condiciones</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="terminos-container">
    <h2 class="section-title">Términos y Condiciones de Panadería La Delicia</h2>
    <p>
      Al utilizar la aplicación móvil "Panadería La Delicia", aceptas cumplir con los siguientes términos y condiciones. Si no estás de acuerdo con estos términos, por favor, no utilices nuestra app.
    </p>

    <div class="section">
      <h3 class="sub-title">1. Aceptación de los Términos</h3>
      <p>
        El uso de la app implica la aceptación plena de estos términos y condiciones. Nos reservamos el derecho de actualizar o modificar estos términos en cualquier momento. Los cambios serán efectivos en el momento de su publicación en la app.
      </p>
    </div>

    <div class="section">
      <h3 class="sub-title">2. Registro y Cuenta de Usuario</h3>
      <p>
        Para utilizar ciertas funcionalidades de la app (como realizar compras o pedidos), deberás crear una cuenta proporcionando información veraz y actualizada. El usuario es responsable de mantener la confidencialidad de su cuenta y contraseña, así como de todas las actividades realizadas desde su cuenta.
      </p>
    </div>

    <div class="section">
      <h3 class="sub-title">3. Productos y Precios</h3>
      <p>
        Los productos disponibles en la app están sujetos a disponibilidad. Los precios pueden cambiar sin previo aviso, aunque nos comprometemos a mostrar el precio correcto en el momento de la compra. Nos reservamos el derecho de modificar los productos, precios y promociones sin previo aviso.
      </p>
    </div>

    <div class="section">
      <h3 class="sub-title">4. Realización de Pedidos</h3>
      <p>
        El proceso de compra está disponible solo para usuarios registrados. Al realizar un pedido, confirmas que la información proporcionada es correcta. Nos reservamos el derecho de cancelar un pedido si hay algún problema con el pago, stock o información proporcionada.
      </p>
    </div>

    <div class="section">
      <h3 class="sub-title">5. Métodos de Pago</h3>
      <p>
        Aceptamos diversas formas de pago, que pueden incluir tarjetas de crédito/débito y otros métodos de pago electrónicos. Todos los pagos se procesan a través de plataformas de pago seguras. La información de pago será utilizada solo para procesar tu compra.
      </p>
    </div>

    <div class="section">
      <h3 class="sub-title">6. Entrega de Productos</h3>
      <p>
        Los productos serán entregados a la dirección indicada en el momento de la compra. El tiempo de entrega varía según la ubicación del usuario. Cualquier problema relacionado con la entrega, como retrasos o daños, debe ser comunicado a nuestro servicio de atención al cliente.
      </p>
    </div>

    <div class="section">
      <h3 class="sub-title">7. Devoluciones y Reembolsos</h3>
      <p>
        Para garantizar la satisfacción del cliente, ofrecemos un proceso de devolución según la política de devolución vigente en el momento de la compra. Las condiciones de la devolución estarán disponibles en la app y son aplicables únicamente a productos que no han sido consumidos.
      </p>
    </div>

    <div class="section">
      <h3 class="sub-title">8. Responsabilidad</h3>
      <p>
        No nos hacemos responsables por daños derivados del uso incorrecto de la app, problemas de red, o cualquier evento fuera de nuestro control, como el retraso en la entrega por parte de empresas de mensajería.
      </p>
    </div>

    <div class="section">
      <h3 class="sub-title">9. Propiedad Intelectual</h3>
      <p>
        Todos los derechos de propiedad intelectual sobre los contenidos de la app, incluyendo texto, gráficos, logos, imágenes y software, son propiedad de Panadería La Delicia y están protegidos por las leyes de propiedad intelectual.
      </p>
    </div>

    <div class="section">
      <h3 class="sub-title">10. Ley Aplicable y Jurisdicción</h3>
      <p>
        Este acuerdo se regirá por las leyes de México, y cualquier disputa relacionada con estos términos será resuelta en los tribunales competentes de la jurisdicción correspondiente.
      </p>
    </div>

    <div class="section">
      <h3 class="sub-title">11. Modificaciones a los Términos y Condiciones</h3>
      <p>
        Nos reservamos el derecho de modificar estos términos en cualquier momento. Las modificaciones serán publicadas en la app y serán efectivas en la fecha de su publicación.
      </p>
    </div>
  </div>
</ion-content>
