/* productos.page.scss */
ion-content {
  margin-bottom: 60px; /* Ajusta este valor según la altura de tu tab bar */
}

.product-img {
  width: 100%; /* Ajusta el ancho al 100% del card */
  max-height: 180px; /* Limita la altura de la imagen */
  object-fit: cover; /* Ajusta la imagen sin distorsionarla */
  border-radius: 10px; /* Opcional: suaviza los bordes */
}
ion-searchbar {
--background: var(--ion-background-color); /* Cambia el fondo de la barra de búsqueda */
--color: var(--ion-text-color); /* Cambia el color del texto de la barra de búsqueda */
}

h2 {
color: var(--ion-text-color);
text-align: center;
margin-top: 20px;
margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: bold;

}

ion-card {
box-shadow: 0 4px 8px var(--ion-border-color);
}

ion-card-title {
font-size: 1.2rem; /* Ajusta el tamaño del título */
font-weight: bold; /* Puedes poner el título en negrita */
color: var(--ion-text-color); /* Cambia el color del título */

}

ion-card-subtitle {
font-size: 1rem; /* Ajusta el tamaño del subtítulo */
color: var(--ion-text-color); /* Cambia el color del subtítulo */
}

ion-card-content {
font-size: 1rem; /* Ajusta el tamaño del contenido */
color: var(--ion-text-color); /* Cambia el color del contenido */
}

