<ion-header>
  <ion-toolbar>
    <ion-title>Editar Perfil</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input formControlName="name" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Apellido Paterno</ion-label>
        <ion-input formControlName="first_surname" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Apellido Materno</ion-label>
        <ion-input formControlName="last_surname" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Teléfono</ion-label>
        <ion-input formControlName="phone_number" type="tel"></ion-input>
        <ion-note slot="error" *ngIf="editForm.get('phone_number')?.errors?.['pattern']">
          El teléfono debe tener 10 dígitos
        </ion-note>
      </ion-item>
    </ion-list>

    <ion-button expand="block" type="submit" [disabled]="!editForm.valid">
      Guardar Cambios
    </ion-button>
  </form>
</ion-content>
